span {
    position: absolute;
    top: 15px;
    right: 25px;
    cursor: pointer;

    transform: rotate(0deg);
    transition: transform 0.4s ease-in-out;

    svg path {
        fill: var(--color-svg);
    }

    &:hover {
        transform: rotate(360deg);
    }
}